<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tta.ehu.eus.apptta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.microphone" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/RefiguApp"
        android:logo="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Presentador.Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Presentador.Activities.LoginActivity"
            android:label="@string/LoginLabel" />
        <activity
            android:name=".Presentador.Activities.RegisterActivity"
            android:label="@string/RegistroLabel" />
        <activity android:name=".Presentador.Activities.ContentActivity" />
        <activity android:name=".Presentador.Activities.MenuActivity" />
        <activity android:name=".Presentador.Activities.PhraseRegisterActivity" />
        <activity android:name=".Presentador.Activities.ContentMyPhrasesActivity"></activity>
        <activity
            android:name=".Presentador.Activities.MapsActivity"
            android:label="@string/title_activity_maps" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


    </application>

</manifest>
